@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: #292929;
}