#entryForm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 32px;
}

.inputFlex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  column-gap: 32px;
}