@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
}

body {
  background-color: #292929;
}

.gameInfoGround {
  font-size: 1.125rem;
}

.gameInfoDate {
  font-size: 0.875rem;
}

.teamName {
  font-size: 1rem;
  font-weight: 500;
}

.teamScore {
  font-size: 1.5rem;
  font-weight: 700;
}

.scorer {
  font-size: 0.875rem;
}

a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

a:hover {
  font-weight: 500;
}

.navTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #292929;
  text-align: center;
  margin: 8px;
}

.activeLink {
  text-decoration: underline;
}

.homePageExplainer p {
  margin: 8px 0;
}

@media (min-width: 960px) {
  .gameInfoGround {
    font-size: 1.25rem;
  }
  .gameInfoDate {
    font-size: 1rem;
  }
  .teamName {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .teamScore {
    font-size: 2rem;
    font-weight: 700;
  }
  .scorer {
    font-size: 1rem;
  }
  a {
    font-size: 1.125rem;
  }
}
#fixtureSection {
  margin: 32px;
}

.resultContainer {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 32px;
}

.teamsFlex {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
}

.homeTeamContainer {
  display: flex;
  flex-direction: column;
}

.awayTeamContainer {
  display: flex;
  flex-direction: column;
}

.gameInfoFlex {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.teamImg {
  margin: 16px 0px;
}

.teamName {
  margin: 8px 0px;
  text-align: center;
}

.teamScore {
  margin: 16px 0px;
  text-align: center;
}

.scorer {
  padding: 4px;
}

.btnFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.homePageImg {
  width: 100vw;
  height: 335px;
  object-fit: cover;
}

.homePageExplainer {
  margin: 32px auto;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}

@media (min-width: 960px) {
  .homePageImg {
    height: 600px;
  }
  .homePageExplainer {
    width: 40%;
    min-height: 400px;
    padding: 32px;
  }
}
.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #525252;
}

.linksFlex a {
  padding: 0 8px 0 8px;
}

@media (min-width: 960px) {
  .navbar {
    padding: 32px 64px;
  }
}
/* Teams
Sportsball FC = sportsballFC
Tinsel Town FC = tinseltownfc
Old York Utd = oldyorkutd
Riverside = riverside
United Utd = unitedutd
*/
.sportsballFCImg {
  width: 125px;
  height: 125px;
  background-image: url(/src/sportsballSite/img/sportsballFCLogo.svg);
  background-repeat: no-repeat;
}

.tinseltownfcImg {
  width: 125px;
  height: 125px;
  background-image: url(/src/sportsballSite/img/tinseltownfcLogo.svg);
  background-repeat: no-repeat;
}

.oldyorkutdImg {
  width: 125px;
  height: 125px;
  background-image: url(/src/sportsballSite/img/oldYorkUtdLogo.svg);
  background-repeat: no-repeat;
}

.riversideImg {
  width: 125px;
  height: 125px;
  background-image: url(/src/sportsballSite/img/riversideLogo.svg);
  background-repeat: no-repeat;
}

.unitedutdImg {
  width: 125px;
  height: 125px;
  background-image: url(/src/sportsballSite/img/unitedUtdLogo.svg);
  background-repeat: no-repeat;
}

button {
  background-color: #fff;
  padding: 4px 8px;
  border: 1px solid #2c2c2c;
  margin-top: 16px;
}