@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #292929;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
  padding: 4px;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
  padding: 4px;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #3D3D3D;
  padding: 4px;
}

.subtext {
  font-size: 0.75rem;
  font-weight: 300;
  color: #525252;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
  text-decoration: none;
}

a:hover {
  color: #7A004F;
}

.navActivePage {
  color: #7A004F;
  text-decoration: underline solid 3px;
}

.text_group {
  width: 25rem;
  margin: 32px auto;
}

button {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
}

.card_text {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #292929;
}

input:placeholder-shown {
  font-size: 1rem;
  font-weight: 400;
  color: #525252;
}

input {
  font-size: 1rem;
  font-weight: 400;
  color: #3D3D3D;
}

input:focus {
  color: #292929;
}

textarea {
  font-size: 1rem;
  font-weight: 400;
  color: #292929;
}

.cardMobile > p {
  font-size: 0.875rem;
  color: #3D3D3D;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .subtext {
    font-size: 0.875rem;
  }
  a {
    font-size: 1.125rem;
  }
  .text_group {
    width: 45rem;
    margin: 64px auto;
  }
  button {
    font-size: 1.125rem;
  }
  .cardText {
    font-size: 1.125rem;
  }
  label {
    font-size: 1.25rem;
  }
  input:placeholder-shown {
    font-size: 1.25rem;
  }
  input {
    font-size: 1.25rem;
  }
}
.flexContainerNavbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}

.pageTitle {
  order: 1;
  padding: 16px;
}

.flexTextLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  order: 3;
}

.flexIconLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  order: 2;
}

.flexIconLinks img {
  max-width: 24px;
  max-height: 24px;
}

@media (min-width: 720px) {
  .flexContainerNavbar {
    justify-content: space-between;
  }
  .pageTitle {
    order: 3;
  }
  .flexTextLinks {
    width: 40vw;
    margin-right: 32px;
    order: 1;
  }
  .flexIconLinks {
    margin-right: 16px;
    width: 15vw;
    order: 3;
  }
}
@media (min-width: 960px) {
  .pageTitle {
    padding: 32px;
  }
  .flexTextLinks {
    margin-left: 32px;
    width: 354px;
  }
  .flexIconLinks {
    margin-right: 32px;
    width: 10vw;
  }
}
.flexTextLinks > a {
  padding: 1rem;
}

button {
  background-color: #055744;
  border: 2px solid #055744;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 2px 2px hsla(0deg, 0%, 0%, 0.14), 0px 3px 1px hsla(0deg, 0%, 0%, 0.14), 0px 1px 5px hsla(0deg, 0%, 0%, 0.2);
}

button:hover {
  background-color: #06745A;
  border-color: #06745A;
}

button:focus {
  border-color: #06745A;
}

button:disabled {
  background-color: #A3A3A3;
  border-color: #7A7A7A;
  box-shadow: none;
}

button:disabled:hover {
  background-color: #A3A3A3;
  border-color: #7A7A7A;
}

button:disabled:focus {
  background-color: #A3A3A3;
  border-color: #7A7A7A;
}

.buttonSecondaryColour {
  background-color: #5C003B;
  border: 2px solid #5C003B;
  border-radius: 4px;
  padding: 8px;
}

.buttonSecondaryColour:hover {
  background-color: #7A004F;
  border-color: #7A004F;
}

.buttonSecondaryColour:focus {
  border-color: #7A004F;
}

.buttonLarge {
  width: 90px;
  height: 50px;
}

@media (min-width: 720px) {
  button {
    padding: 8px;
  }
  .buttonSecondaryColour {
    padding: 8px;
  }
  .buttonLarge {
    width: 120px;
    height: 65px;
  }
}
input, textarea {
  width: 248px;
  height: 35px;
  padding: 8px;
  border: 1px solid #3D3D3D;
  border-radius: 2px;
  outline: none;
}

textarea {
  height: 10rem;
  resize: none;
}

input:hover, textarea:hover {
  border: 1px solid #06745A;
}

input:focus, textarea:focus {
  border: 1px solid #089171;
}

input:required:invalid {
  background-image: url(/src/cupcakeSite/img/icons/circle-exclamationColour.png);
  background-position: 220px 5px;
  background-repeat: no-repeat;
  border: 1px solid #B50000;
}

input:required:valid {
  background-image: url(/src/cupcakeSite/img/icons/checkColour.png);
  background-position: 220px 5px;
  background-repeat: no-repeat;
  border: 1px solid #56C313;
}

input:required:focus {
  background-image: none;
  border: 1px solid #089171;
}

input:disabled, textarea:disabled {
  background: #CCCCCC;
  border: 1px solid #7A7A7A;
}

@media (min-width: 720px) {
  input, textarea {
    width: 400px;
    padding: 8px;
    border: 2px solid #3D3D3D;
  }
  input:hover, textarea:hover {
    border: 2px solid #06745A;
  }
  input:focus, textarea:focus {
    border: 2px solid #089171;
  }
  input:required:invalid {
    background-position: 360px 6px;
    border: 2px solid #B50000;
  }
  input:required:valid {
    background-position: 360px 6px;
    border: 2px solid #56C313;
  }
  input:required:focus {
    background-image: none;
    border: 2px solid #089171;
  }
  textarea {
    width: 400px;
    min-height: 250px;
  }
}
.radioTest {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5rem;
  margin-top: 1rem;
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid #3D3D3D;
  border-radius: 50%;
  transform: translateY(0.175rem);
  display: grid;
  place-content: center;
}

input[type=radio]:hover {
  border-color: #06745A;
}

input[type=radio]:focus {
  border-color: #089171;
}

input[type=radio]::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem #055744;
  background-color: CanvasText;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=radio]:checked {
  border-color: #055744;
}

.cupcake_gallery {
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  margin: 16px auto;
  box-shadow: 0px 8px 10px hsla(0deg, 0%, 0%, 0.14), 0px 3px 14px hsla(0deg, 0%, 0%, 0.12), 0px 5px 5px hsla(0deg, 0%, 0%, 0.2);
  border-radius: 4px;
}

.card_text {
  text-align: center;
  padding: 4px;
}

.card_img {
  width: 5px;
  height: 5px;
  opacity: 0;
}

#card_vanilla {
  background-image: url(/src/cupcakeSite/img/vanillaCupcakeEdit-min.jpg);
}
#card_vanilla .card_text {
  color: #292929;
}

#card_carrot {
  background-image: url(/src/cupcakeSite/img/carrotCupcakeEdit-min.jpg);
}
#card_carrot .card_text {
  color: #ffffff;
}

#card_chocolate {
  background-image: url(/src/cupcakeSite/img/chocolateCupcakeEdit-min.jpg);
}
#card_chocolate .card_text {
  color: #ffffff;
}

#card_strawberry {
  background-image: url(/src/cupcakeSite/img/strawberryCupcakeEdit-min.jpg);
}
#card_strawberry .card_text {
  color: #292929;
}

#card_blueberry {
  background-image: url(/src/cupcakeSite/img/blueberryCupcakeEdit-min.jpg);
}
#card_blueberry .card_text {
  color: #292929;
}