/*  0.75rem = 12px, 0.875rem = 14px, 1rem = 16px,
    1.125rem = 18px, 1.25rem = 20px 1.5rem = 24px,
    1.75rem = 28px, 2rem = 32px
*/
h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: $white;
}