.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: $primary;
}
.menuBar1, .menuBar2, .menuBar3 {
    width: 35px;
    height: 5px;
    background-color: $white;
    margin: 6px 0px;
    transition: 0.25s;
}

.change .menuBar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .menuBar2 {
    opacity: 0;
}
.change .menuBar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}