@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
// Imports
@import '_breakpoints.scss';
@import '_colours.scss';
@import '_fonts.scss';
@import '_flex.scss';

@import '_navbar.scss';
@import '_footer.scss';
@import '_cards.scss';

.returnPortfolioBtn {
    display: block;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: #EC407A;;
    padding: 8px;
    font-size: 1rem;
    font-family: monospace;
    color: $black;
    text-decoration: none;
    border-radius: 4px;
}