/* Teams
Sportsball FC = sportsballFC
Tinsel Town FC = tinseltownfc
Old York Utd = oldyorkutd
Riverside = riverside
United Utd = unitedutd
*/

.sportsballFCImg {
    width: 125px;
    height: 125px;
    background-image: url(/src/sportsballSite/img/sportsballFCLogo.svg);
    background-repeat: no-repeat;
}
.tinseltownfcImg {
    width: 125px;
    height: 125px;
    background-image: url(/src/sportsballSite/img/tinseltownfcLogo.svg);
    background-repeat: no-repeat;
}
.oldyorkutdImg {
    width: 125px;
    height: 125px;
    background-image: url(/src/sportsballSite/img/oldYorkUtdLogo.svg);
    background-repeat: no-repeat;
}
.riversideImg {
    width: 125px;
    height: 125px;
    background-image: url(/src/sportsballSite/img/riversideLogo.svg);
    background-repeat: no-repeat;
}
.unitedutdImg {
    width: 125px;
    height: 125px;
    background-image: url(/src/sportsballSite/img/unitedUtdLogo.svg);
    background-repeat: no-repeat;
}

