#mobileCardsContainer {
    width: 100%;
}
.mobileCard {
    display: none;
}
.mobileCard.mobileCardActive {
    display: block;
    width: 200px;
    height: 300px;
    margin: 32px auto;
    border-radius: 8px;
    box-shadow: 
    0px 8px 10px hsl(0, 0%, 0%, .14),
    0px 3px 14px hsl(0, 0%, 0%, .12),
    0px 5px 5px hsl(0, 0%, 0%, .2);
    overflow: hidden;
}
.mobileCardText {
    width: 200px;
    background-color: $white;
    text-align: center;
    height: 1.25rem;
}


#mobileDotContainer {
    display: flex;
    flex: row;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}