.cardListMobile {
    display: flex;
    width: 100%;
    align-items: center;
}
.cardMobile {
    min-width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
}
.cardVanilla {
    background-image: url(/src/cupcakeSite/img/vanillaCupcakeEdit-min.jpg);
}
.cardCarrot {
    background-image: url(/src/cupcakeSite/img/carrotCupcakeEdit-min.jpg);
}
.cardChocolate {
    background-image: url(/src/cupcakeSite/img/chocolateCupcakeEdit-min.jpg);
}
.cardStrawberry {
    background-image: url(/src/cupcakeSite/img/strawberryCupcakeEdit-min.jpg);
}
.cardBlueberry {
    background-image: url(/src/cupcakeSite/img/blueberryCupcakeEdit-min.jpg);
}