// Headers Base
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $black;
}
h2 {
    font-size: 1rem;
    font-weight: 700;
    color: $black;
    padding: 4px;
}
h3 {
    font-size: 1rem;
    font-weight: 700;
    color: $black;
    padding: 4px;
}

// Text Base
p {
    font-size: 1rem;
    font-weight: 400;
    color: $neutral_900;
    padding: 4px;
}
.subtext {
    font-size: 0.75rem;
    font-weight: 300;
    color: $neutral_800;
}
a {
    font-size: 1rem;
    font-weight: 500;
    color: $black;
    text-decoration: none;
}
a:hover {
    color: $secondary_800;
}

.navActivePage {
    color: $secondary_800;
    text-decoration: underline solid 3px;
}
.text_group {
    width: 300px;
    margin: 32px auto;
}
// Buttons & Inputs Base
button {
    font-size: 0.875rem;
    font-weight: 500;
    color: $white;
}
.card_text {
    font-size: 0.875rem;
    font-weight: 500;
    color: $white;
}
label {
    font-size: 1rem;
    font-weight: 400;
    color: $black;
}
input:placeholder-shown {
    font-size: 1rem;
    font-weight: 400;
    color: $neutral_800;
}
input {
    font-size: 1rem;
    font-weight: 400;
    color: $neutral_900;
}
input:focus {
    color: $black;
}
textarea {
    font-size: 1rem;
    font-weight: 400;
    color: $black;
}
.totalCostText {
    color: $white;
}
.purchaseBtn {
    color: $white;
}
// Cards
.cardMobile > p {
    font-size: 0.875rem;
    color: $neutral_900;
}

@include md {
    // Headers
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    // Text
    p {
        font-size: 1.25rem;
    }
    .subtext {
        font-size: 0.875rem;
    }
    a {
        font-size: 1.125rem;
    }
    .text_group {
        width: 45rem;
        margin: 64px auto;
    }
    // Buttons & Inputs
    button {
        font-size: 1.125rem;
    }
    .cardText {
        font-size: 1.125rem;
    }
    label {
        font-size: 1.25rem;
    }
    input:placeholder-shown {
        font-size: 1.25rem;
    }
    input {
        font-size: 1.25rem;
    }
}
