// Text Boxes/Areas
input, textarea {
    width: 248px;
    height: 35px;
    padding: 8px;
    border: 1px solid $neutral_900;
    border-radius: 2px;
    outline: none;
}
textarea {
    height: 10rem;
    resize: none;
}
input:hover, textarea:hover {
    border: 1px solid $primary_800;
}
input:focus, textarea:focus {
    border: 1px solid $primary_700;
}

input:required:invalid {
    background-image: url(/src/cupcakeSite/img/icons/circle-exclamationColour.png);
    background-position: 220px 5px;
    background-repeat: no-repeat;
    border: 1px solid $error_dark;
}
input:required:valid {
    background-image: url(/src/cupcakeSite/img/icons/checkColour.png);
    background-position: 220px 5px;
    background-repeat: no-repeat;
    border: 1px solid $success_default;
}
input:required:focus {
    background-image: none;
    border: 1px solid $primary_700;
}
input:disabled, textarea:disabled {
    background: $neutral_200;
    border: 1px solid $neutral_600;
}

@include md {
    input, textarea {
        width: 400px;
        padding: 8px;
        border: 2px solid $neutral_900;
    }
    input:hover, textarea:hover {
        border: 2px solid $primary_800;
    }
    input:focus, textarea:focus {
        border: 2px solid $primary_700;
    }
    input:required:invalid {
        background-position: 360px 6px;
        border: 2px solid $error_dark;
    }
    input:required:valid {
        background-position: 360px 6px;
        border: 2px solid $success_default;
    }
    input:required:focus {
        background-image: none;
        border: 2px solid $primary_700;
    }
    textarea {
        width: 400px;
        min-height: 250px;
    }
}

// Radio Buttons
.radioTest {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5rem;
    margin-top: 1rem;
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.125rem;
    height: 1.125rem;
    border: 0.125rem solid $neutral_900;
    border-radius: 50%;
    transform: translateY(0.175rem);
    display: grid;
    place-content: center;    
}
input[type="radio"]:hover {
    border-color: $primary_800;
} 
input[type="radio"]:focus {
    border-color: $primary_700;
}
input[type="radio"]::before {
    content: "";
    width: 0.70rem;
    height: 0.70rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem $primary_900;
    background-color: CanvasText; // This helps keep colours even in Windows High Contrast mode
}

input[type="radio"]:checked::before {
    transform: scale(1);
}
input[type="radio"]:checked {
    border-color: $primary_900;
}