// Flexbox
.flexContainerNavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $neutral_200;
}
.pageTitle {
    order: 1;
    padding: 16px;
}
.flexTextLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    order: 3;
}
.flexIconLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    order: 2;
}
.flexIconLinks img {
    max-width: 24px;
    max-height: 24px;
}

@include md {
    .flexContainerNavbar {
        justify-content: space-between;
    }
    .pageTitle {
        order: 3;
    }
    .flexTextLinks {
        width: 40vw;
        margin-right: 32px;
        order: 1;
    }
    .flexIconLinks {
        margin-right: 16px;
        width: 15vw;
        order: 3;
    }
}

@include lg {
    .pageTitle {
        padding: 32px;
    }
    .flexTextLinks {
        margin-left: 32px;
        width: 354px;
    }
    .flexIconLinks {
        margin-right: 32px;
        width: 10vw;
    }
}

// Style
.flexTextLinks > a {
    padding: 1rem;
}