.carouselMobile {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 32px auto;
}
.carousel_trackContainer {
    width: 200px;
    height: 100%;
    margin: 32px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 
    0px 8px 10px hsl(0, 0%, 0%, .14),
    0px 3px 14px hsl(0, 0%, 0%, .12),
    0px 5px 5px hsl(0, 0%, 0%, .2);
    border-radius: 4px;
}
.carousel_track {
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;
}
.carousel_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}
.carousel_img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.carousel_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color: $white;
    text-align: center;
}

.carousel_nav {
    display: flex;
    width: 50%;
    margin: 16px auto;
    justify-content: space-around;
    align-items: center;
}
.carousel_indicator {
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    background: hsl(166, 90%, 12%, .38);
}
.carousel_indicator.currentCard {
    background: $primary_1000;
    border-radius: 8px;
    width: 12px;
    height: 24px;
}
.carousel_indicator:focus {
    background-color: $primary_700;
}

.card_btn {
    position: absolute;
    top: 260px;
    left: 55px;
    padding: 4px 8px;
}