@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Zilla Slab', serif;
}
html {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

// Imports
@import 'breakpoints.scss';
@import 'flexbox.scss';
@import 'colour.scss';
@import 'font.scss';

@import '_navbar.scss';
@import '_buttons.scss';
@import '_inputs.scss';
@import '_cards.scss';
@import '_forms.scss';