.fadeOut {
    animation: fadeOut 1s forwards;
}
.moveFromLeft {
    animation: moveFromLeft 3s forwards;
}
@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes moveFromLeft {
    0% {left: -100vw}
    100% {left: 0vw}
}