.card {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 350px;
    height: 450px;
    padding: 32px;
    background-color: $neutral_900;
}
.cardProject1 {
    border: 2px solid $alt_purple_100;
    border-radius: 4px;
}
.cardProject1:hover {
    animation: borderGlowPurple 1s alternate infinite;
}
.cardProject2 {
    border: 2px solid $alt_cyan_100;
    border-radius: 4px;
}
.cardProject2:hover {
    animation: borderGlowTeal 1s alternate infinite;
}
.cardProject3 {
    border: 2px solid $alt_teal_100;
    border-radius: 4px;
}
.cardProject3:hover {
    animation: borderGlowCyan 1s alternate infinite;
}
.cardAboutme {
    border: 2px solid $alt_purple_100;
    border-radius: 4px;
}
.cardAboutme:hover {
    animation: borderGlowPurple 1s alternate infinite;
}
.cardContact {
    border: 2px solid $alt_cyan_100;
    border-radius: 4px;
}
.cardContact:hover {
    animation: borderGlowTeal 1s alternate infinite;
}
.cardBtnContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@keyframes borderGlowPurple {
    0% {filter:
        drop-shadow(0 0 1px $white)
        drop-shadow(0 0 3px $white)
        drop-shadow(0px 0px 3px hsla(271, 83%, 76%, 1))
        drop-shadow(0px 0px 8px hsla(271, 83%, 71%, 1))
        drop-shadow(0px 0px 12px hsla(271, 83%, 66%, 1))}
    100% {filter:
        drop-shadow(0 0 2px $white)
        drop-shadow(0 0 4px $white)
        drop-shadow(0px 0px 6px hsla(271, 83%, 76%, 1))
        drop-shadow(0px 0px 10px hsla(271, 83%, 71%, 1))
        drop-shadow(0px 0px 14px hsla(271, 83%, 66%, 1))}
}
@keyframes borderGlowTeal {
    0% {filter:
        drop-shadow(0 0 1px $white)
        drop-shadow(0 0 3px $white)
        drop-shadow(0px 0px 3px hsla(166, 90%, 76%, 1))
        drop-shadow(0px 0px 8px hsla(166, 90%, 71%, 1))
        drop-shadow(0px 0px 12px hsla(166, 90%, 66%, 1))}
    100% {filter:
        drop-shadow(0 0 2px $white)
        drop-shadow(0 0 4px $white)
        drop-shadow(0px 0px 6px hsla(166, 90%, 76%, 1))
        drop-shadow(0px 0px 10px hsla(166, 90%, 71%, 1))
        drop-shadow(0px 0px 14px hsla(166, 90%, 66%, 1))}
}
@keyframes borderGlowCyan {
    0% {filter:
        drop-shadow(0 0 1px $white)
        drop-shadow(0 0 3px $white)
        drop-shadow(0px 0px 3px hsla(180, 90%, 76%, 1))
        drop-shadow(0px 0px 8px hsla(180, 90%, 71%, 1))
        drop-shadow(0px 0px 12px hsla(180, 90%, 66%, 1))}
    100% {filter:
        drop-shadow(0 0 2px $white)
        drop-shadow(0 0 4px $white)
        drop-shadow(0px 0px 6px hsla(180, 90%, 76%, 1))
        drop-shadow(0px 0px 10px hsla(180, 90%, 71%, 1))
        drop-shadow(0px 0px 14px hsla(180, 90%, 66%, 1))}
}

// About me Cards
