// Neutrals
$black: #1C1C1C;
$neutral_900: #292929;
$neutral_800: #3D3D3D;
$neutral_700: #525252;
$neutral_600: #666666;
$neutral_500: #8F8F8F;
$neutral_400: #A3A3A3;
$neutral_300: #B8B8B8;
$neutral_200: #CCCCCC;
$white: #ffffff;

// Primary 
$pink_500: #EC407A;
$pink_400: #F06292;
$pink_300: #F48FB1;
$pink_200: #F8BBD0;
$pink_100: #FCE4EC;

// Alt Colours
$alt_purple_100: #AC61F0;
$alt_purple_400: #8015E0;
$alt_teal_100: #5AF6D1;
$alt_cyan_100: #5AF6F6;

// Success
$success_dark: #2D660A;
$success_default: #56C313;
$success_light: #8BEE4F;
// Error
$error_dark: #B50000;
$error_default: #FF320A;
$error_light: #FF7D7D;