// Intro Section
.introScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $black;

    .introLine4 {
        margin-top: 64px;
    }
}
.introLine {
    display: flex;
    flex-direction: row;
    width: 605px;
    column-gap: 1rem;
}

// Main Section
.videoFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
}
video {
    border-radius: 4px;
}
.videoContainer:hover {
    border: 2px solid $pink_500;
    border-radius: 4px;
    .videoHeader {
        border-bottom: none;
    }
}
.hidden {
    display: none;
}
.vid {
    outline: none;
    border: none;
    border-radius: 4px;
}

// About me 
.aboutMeSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.leftSideContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 64px 128px;
}
.rightSideContainer {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.skillsFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.interestsContainer {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}
.whoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

// Contact
.contactSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 64px 128px;
    row-gap: 64px;
}

// Projects
.projectSection {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 64px;
}
.projectContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.textSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 16px;
}
.imageSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    img {
        border-radius: 4px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 124px;
    background-color: $black;
    border-top: 1px solid $pink_500;
}
.creditFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 64px;
    column-gap: 32px;
    row-gap: 32px;
}