// Home Page
.introSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 605px;
    height: 100vh;
    margin: 200px 0 0 124px;
}
.introLine {
    display: flex;
    flex-direction: row;
    padding: 4px;
    column-gap: 16px;
}
.mainSection {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.extraSection {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.testSection {
    height: 100%;
}

// About me Page
.aboutMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.aboutMeLeftSide {
    width: 50%;
}
.aboutMeRightSide {
    width: 50%;
    object-fit: contain;
}