/*  Size Chart:
    0.75rem = 12px, 0.875rem = 14px, 1rem = 16px,
    1.125rem = 18px, 1.25rem = 20px 1.5rem = 24px,
    1.75rem = 28px, 2rem = 32px
    Weight:
    300 = Light, 400 = Regular, 500 = Medium, 700 = Bold
*/

// Page Intro Section
.introLine {
    p {
        font-size: 1.5rem;
        font-weight: 700;
        color: $white;
    }
    .colorText1 {
        color: $alt_purple_100;
    }
    .colorText2 {
        color: $alt_teal_100;
    }
    .colorText3 {
        color: $alt_cyan_100;
    }
}

a {
    font-size: 1.125rem;
    font-weight: 500;
    color: $white;
    text-decoration: none;
}
a:hover {
    color: $pink_400;
}
a:focus {
    color: $pink_500;
}
.cardHeader {
    font-size: 1.25rem;
    font-weight: 500;
    color: $white;
}
.cardText {
    font-size: 1.125rem;
    font-weight: 400;
    color: $white;
}
.cardLinkBtn {
    font-size: 1.125rem;
    font-weight: 400;
    color: $black;
}
.cardLinkBtn:hover {
    color: $black;
    border: 1px solid $pink_300;
}
.cardLinkBtn:focus {
    color: $black;
    border: 1px solid $pink_300;
}

@include lg {
    .introLine {
        p {
            font-size: 2.25rem;
        }
    }
}