@include wildCard {
    .introLine {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 16px;
    }
    .navbar {
        padding: 8px 16px;
        column-gap: 8px;
        row-gap: 8px;
        margin-bottom: 32px;
    }
    .navVisibleAlt {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        a {
            padding: 8px;
        }
    }
    .videoFlex {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    // Project page
    .projectSection {
        padding: 16px;
    }
    .projectContainer {
        flex-direction: column;
        row-gap: 32px;
    }
    .textSection {
        width: 100%;
    }
    .imageSection {
        width: 100%;
    }

    // Contact page
    .contactSection {
        width: 100%;
        padding: 16px 32px;
    }
    
    // About me page
    .aboutMeSection {
        flex-direction: column;
    }
    .leftSideContainer {
        width: 100%;
        padding: 32px 16px;
    }
    .rightSideContainer {
        width: 100%;
        padding: 0 0;
    }
    .skillsFlex {
        flex-wrap: wrap;
    }
    .interestsContainer {
        padding: 0 24px;
    }
}