.navbar {
    width: 100%;
    padding: 32px 64px;
    background-color: $black;
    border-bottom: 1px solid $pink_500;
    column-gap: 64px;
    z-index: 9999;

    a {
        margin-right: 64px;
    }
}
.navVisibleAlt {
    display: flex;
    flex-direction: row;
    column-gap: 64px;
    width: 100%;
}