/*  Size Chart:
    0.75rem = 12px, 0.875rem = 14px, 1rem = 16px,
    1.125rem = 18px, 1.25rem = 20px 1.5rem = 24px,
    1.75rem = 28px, 2rem = 32px
    Weight:
    300 = Light, 400 = Regular, 500 = Medium, 700 = Bold
*/

.introLine {
    p {
        font-size: 1.5rem;
        font-weight: 700;
        color: $white;
    }
    .colorText1 {
        color: $alt_purple_100;
    }
    .colorText2 {
        color: $alt_teal_100;
    }
    .colorText3 {
        color: $alt_cyan_100;
    }
}

.leftSideContainer {
    h1 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin: 64px 0 32px 0;
        border-bottom: 1px solid $alt_purple_100;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin: 64px 0 32px 0;
        border-bottom: 1px solid $alt_teal_100;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin: 64px 0 32px 0;
        border-bottom: 1px solid $alt_cyan_100;
    }
    .subHeader {
        font-size: 1.25rem;
        font-weight: 500;
        color: $white;
        margin: 16px 0;
    }
    ul {
        line-height: 1.75rem;
    }
    li {
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;
    }
    p {
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;

    }
}
.contactSection {
    h1 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin: 64px 0 32px 0;
        border-bottom: 1px solid $alt_purple_100;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        margin: 64px 0 32px 0;
        border-bottom: 1px solid $alt_teal_100;
    }
    p {
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;

    }
    a {
        font-size: 1.125rem;
        font-weight: 400;
        color: $white;
        text-decoration: none;
    }
    a:hover {
        border-bottom: 2px solid $pink_500;
    }
    a:focus {
        border-bottom: 2px solid $pink_500;
    }
}
// Buttons & Links
.enterSiteBtn {
    color: $white;
    font-size: 1.25rem;
}

.navbar {
    a {
        font-size: 1rem;
        font-weight: 500;
        width: 90px;
        color: $white;
        text-decoration: none;
        text-align: center;
    }
    .activeLink {
        border-bottom: 2px solid $pink_500;
    }
    a:hover {
        border-bottom: 2px solid $pink_500;
    }
}

.videoHeader {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 16px;
    color: $white;
    text-align: center;
}
.videoHeader1 {
    border-bottom: 1px solid $alt_purple_100;
}
.videoHeader2 {
    border-bottom: 1px solid $alt_teal_100;
}
.videoHeader3 {
    border-bottom: 1px solid $alt_cyan_100;
}