// Import files here
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

*,
*:before,
*:after {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import '_breakpoints.scss';
@import '_colours.scss';
@import '_fonts.scss';
@import '_flex.scss';
@import '_parallax.scss';

@import '_navbar.scss';
@import '_buttons.scss';
@import '_cards.scss';
@import '_scrollbar.scss';