@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Zilla Slab", serif;
}

body {
  display: grid;
  grid-gap: 16px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #292929;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #3D3D3D;
}

.subtext {
  font-size: 0.75rem;
  font-weight: 300;
  color: #525252;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #033A2D;
  text-transform: uppercase;
  text-decoration: none;
}

button {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.cardText {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

label {
  font-size: 1rem;
  font-weight: 400;
  color: #292929;
}

input:placeholder-shown {
  font-size: 1rem;
  font-weight: 400;
  color: #525252;
}

input {
  font-size: 1rem;
  font-weight: 400;
  color: #3D3D3D;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .subtext {
    font-size: 0.875rem;
  }
  a {
    font-size: 1.125rem;
  }
  button {
    font-size: 1.125rem;
  }
  .cardText {
    font-size: 1.125rem;
  }
  label {
    font-size: 1.25rem;
  }
  input:placeholder-shown {
    font-size: 1.25rem;
  }
  input {
    font-size: 1.25rem;
  }
}
.textTitle {
  display: inline-block;
  position: fixed;
  top: 16px;
  left: 16px;
}

.flexTextLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.flexIconLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.flexIconLinks img {
  max-width: 24px;
  max-height: 24px;
}

@media (min-width: 720px) {
  .flexTextLinks {
    width: 30%;
  }
  .flexIconLinks img {
    max-width: 28px;
    max-height: 28px;
  }
}
.navActivePage {
  border-bottom: 3px solid #033A2D;
}