.cardLinkBtn {
    position: relative;
    z-index: 1;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $pink_500;
    background-color: $white;
    filter: 
    drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.14))
    drop-shadow(0px 3px 1px hsla(0, 0%, 0%, 0.12))
    drop-shadow(0px 1px 5px rgba(0, 0%, 0%, 0.2));
}