@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1C1C1C;
}

.introScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
}
.introScreen .introLine4 {
  margin-top: 64px;
}

.introLine {
  display: flex;
  flex-direction: row;
  width: 605px;
  column-gap: 1rem;
}

.videoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
}

video {
  border-radius: 4px;
}

.videoContainer:hover {
  border: 2px solid #EC407A;
  border-radius: 4px;
}
.videoContainer:hover .videoHeader {
  border-bottom: none;
}

.hidden {
  display: none;
}

.vid {
  outline: none;
  border: none;
  border-radius: 4px;
}

.aboutMeSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSideContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 64px 128px;
}

.rightSideContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.skillsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.interestsContainer {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
}

.whoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.contactSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 64px 128px;
  row-gap: 64px;
}

.projectSection {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  padding: 64px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.textSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 16px;
}

.imageSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.imageSection img {
  border-radius: 4px;
}

/*  Size Chart:
    0.75rem = 12px, 0.875rem = 14px, 1rem = 16px,
    1.125rem = 18px, 1.25rem = 20px 1.5rem = 24px,
    1.75rem = 28px, 2rem = 32px
    Weight:
    300 = Light, 400 = Regular, 500 = Medium, 700 = Bold
*/
.introLine p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}
.introLine .colorText1 {
  color: #AC61F0;
}
.introLine .colorText2 {
  color: #5AF6B3;
}
.introLine .colorText3 {
  color: #5AF6F6;
}

.leftSideContainer h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #AC61F0;
}
.leftSideContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #5AF6B3;
}
.leftSideContainer h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #5AF6F6;
}
.leftSideContainer .subHeader {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  margin: 16px 0;
}
.leftSideContainer ul {
  line-height: 1.75rem;
}
.leftSideContainer li {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
.leftSideContainer p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}

.contactSection h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #AC61F0;
}
.contactSection h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #5AF6B3;
}
.contactSection p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
.contactSection a {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.contactSection a:hover {
  border-bottom: 2px solid #EC407A;
}
.contactSection a:focus {
  border-bottom: 2px solid #EC407A;
}

.textSection h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #AC61F0;
}
.textSection h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #5AF6B3;
}
.textSection h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  margin: 64px 0 32px 0;
  border-bottom: 1px solid #5AF6F6;
}
.textSection p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}

.projectLink {
  font-size: 1.125rem;
  font-weight: 400;
  color: #EC407A;
  text-decoration: none;
  padding: 8px;
}

.projectLink:hover {
  border-bottom: 1px solid #EC407A;
}

.enterSiteBtn {
  color: #ffffff;
  font-size: 1.25rem;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  width: 90px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.navbar .activeLink {
  border-bottom: 2px solid #EC407A;
}
.navbar a:hover {
  border-bottom: 2px solid #EC407A;
}

a {
  text-decoration: none;
}

.videoHeader {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 16px;
  color: #ffffff;
  text-align: center;
}

.videoHeader1 {
  border-bottom: 1px solid #AC61F0;
}

.videoHeader2 {
  border-bottom: 1px solid #5AF6B3;
}

.videoHeader3 {
  border-bottom: 1px solid #5AF6F6;
}

.enterSiteBtn {
  background-color: #1C1C1C;
  border: 1px solid #ffffff;
  padding: 16px;
}

.enterSiteBtn:hover {
  border: 1px solid #EC407A;
}

.enterSiteBtn:focus {
  border: 1px solid #EC407A;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.fadeIn {
  animation: fadeIn 3s forwards;
}

.moveFromLeft {
  animation: moveFromLeft 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveFromLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0vw;
  }
}
.navbar {
  width: 100%;
  padding: 32px 64px;
  background-color: #1C1C1C;
  border-bottom: 1px solid #EC407A;
  column-gap: 64px;
  z-index: 9999;
}
.navbar a {
  margin-right: 64px;
}

.navVisibleAlt {
  display: flex;
  flex-direction: row;
  column-gap: 64px;
  width: 100%;
}

@media (max-width: 1200px) {
  .introLine {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
  }
  .navbar {
    padding: 8px 16px;
    column-gap: 8px;
    row-gap: 8px;
    margin-bottom: 32px;
  }
  .navVisibleAlt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .navVisibleAlt a {
    padding: 8px;
  }
  .videoFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .projectSection {
    padding: 16px;
  }
  .projectContainer {
    flex-direction: column;
    row-gap: 32px;
  }
  .textSection {
    width: 100%;
  }
  .imageSection {
    width: 100%;
  }
  .contactSection {
    width: 100%;
    padding: 16px 32px;
  }
  .aboutMeSection {
    flex-direction: column;
  }
  .leftSideContainer {
    width: 100%;
    padding: 32px 16px;
  }
  .rightSideContainer {
    width: 100%;
    padding: 0 0;
  }
  .skillsFlex {
    flex-wrap: wrap;
  }
  .interestsContainer {
    padding: 0 24px;
  }
}