@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}